# The following are files that get created in a .lem directory
# which I do not wish to commit
config.lisp
history/
lem-site-init.asd

# The following are the standard things that GitHub suggests to ignore
# for Common Lisp projects
*.FASL
*.fasl
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl
